body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:77px;
}
#u29 {
  position:absolute;
  left:41px;
  top:16px;
  width:679px;
  height:77px;
}
#u30 {
  position:absolute;
  left:2px;
  top:30px;
  width:675px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:197px;
  top:16px;
  width:95px;
  height:32px;
  font-size:8px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:334px;
  top:36px;
  width:38px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:246px;
  top:16px;
  width:95px;
  height:32px;
  font-size:8px;
  color:#FFFFFF;
}
#u35 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:390px;
  top:36px;
  width:38px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u37 {
  position:absolute;
  left:306px;
  top:16px;
  width:95px;
  height:32px;
  font-size:8px;
  color:#FFFFFF;
}
#u38 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:372px;
  top:16px;
  width:95px;
  height:32px;
  font-size:8px;
  color:#FFFFFF;
}
#u40 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:446px;
  top:36px;
  width:38px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
